<h2>{{title}}</h2>
<p>Añadir marca</p>
<input type="text" [(ngModel)]="miMarca" (keyup.enter)="showWord()" (blur)="onBlur()" >
<button (click)="getMarca()">Mostrar Marca</button>
<button (click)="addMarca()">Añadir Marca</button>

<p>{{miMarca}}</p>
<ul>
  <li *ngFor="let zapatilla of zapatillas">{{zapatilla.nombre}} -
      <strong [ngClass]="{'fondoRojo' : zapatilla.precio > 100, 'subrayado' : zapatilla.marca =='Nike'}">{{zapatilla.price}}</strong>
    <span *ngIf="zapatilla.price <= 20" [ngStyle]="{'color': 'green'}"
    [class.altoPrecio]="zapatilla.price >= 40">¡En oferta!</span>
  </li>
  <li *ngFor="let marca of marcas">{{marca}}
  <button (click)="borrarMarca(index)">Borrar</button>
  </li>
</ul>
<p>El color de la mayoria de las zapatillas es:</p>
<input type="text" [(ngModel)]="color"/>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">El color predominante es el <span style="background: yellow">amarillo</span></li>
  <li *ngSwitchCase="'red'">El color predominante es el rojo</li>
</ul>
