<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2>Sobre mí</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mi felis, congue eu sapien a, eleifend aliquet libero.
    Quisque pulvinar sed magna at maximus. Cras consequat suscipit porttitor. Proin sit amet ante quam. Maecenas iaculis
    aliquet suscipit. Ut nisi sem, cursus eget purus sit amet, semper venenatis sem. Praesent eleifend purus arcu, quis
    accumsan neque sodales at. Pellentesque ut scelerisque arcu. Praesent ultricies odio erat, id venenatis arcu semper ac.
    Morbi id tortor quis magna dignissim suscipit. Nunc imperdiet risus quis enim rhoncus, fringilla molestie mauris elementum.</p>
</article>
